In [40]:
#Lab 1 : Getting Started With Python

print("Hello World!")

print('_______')

#Creating String
print('hello')
print()
print('This is also a string')

Hello World!
_______
hello

This is also a string

In [41]:
#Variable
s = 'New York'
print(s)
print(type(s))
print(len(s))

print('________')

#String indexing
s = 'Hello World'
print(s)
print()
print(s[0])
print(s[1])

New York
<class 'str'>
8
________
Hello World

H
e

In [42]:
#String contatenation and repetition
s1 = 'Hello'
s2 = 'World'
print(s1 + " " + s2)

#repetition
print("Hello " * 3)
print("-" * 10)

Hello World
Hello Hello Hello
----------

In [43]:
#String slicing and indexing
s = "Namaste World"

print(s[1]) #indexing
print(s[6:11]) #slicing
print(s[-5:-1])

#test substring membership
print("Wor" in s)

a
e Wor
Worl
True

In [44]:
#Basic Built-in String methods
s = "Hello world"
print(s.upper()) #make word to upper
print(s.lower()) #make word to lower

HELLO WORLD
hello world

In [45]:
#Print Formatting
name = "Enstein"
age = 22
married = True

print("My name is %s, my age is %s, and it is %s that I am married" %(name,age,married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name,age,married))

My name is Enstein, my age is 22, and it is True that I am married
My name is Enstein, my age is 22, and it is True that I am married

In [47]:
##Numbers

#Type of numbers

#basic arithmetic
print(2+1)
print(2-1)
print(2*1)
print(3/2)

print("_"*5)

#arithmetic continued
print(2**3) #powers
print(2+10*10+3) #order of operation
print((2+10) * (10+3)) #use parenthesis to specify orders

print("_"*5)

#variable assignments
a = 5
a+a

a=0 #reassignment
a

3
1
2
1.5
_____
8
105
156
_____

0

In [50]:
#Data Types & Data Structure

#identifying data types
a = 42
b = 32.30
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [57]:
#List
 #assign a list
my_list = [1,2,3]
my_list = ['a string',23,100.232,'o']
len(my_list)

#add element to list
my_list = ['one', 'two', 'three',4,5]

#append a value to end of the list
l = [1, 2.3, ['a,','b'], 'New York']
l.append(3.1)
print(l)

#extend with another list
l = [1,2,3]
l.extend([4,5,6])
print(l)

#slicing
lst = list(range(10)) #create list contains 10 numbers, 0-9
print(lst)

print("elements from index 4 to 7: ", lst[4:7])
print("alternate elements, starting at index 0 :", lst[0::2])
print("every third elemetns, starting at index 1 :", lst[1::3])

[1, 2.3, ['a,', 'b'], 'New York', 3.1]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7:  [4, 5, 6]
alternate elements, starting at index 0 : [0, 2, 4, 6, 8]
every third elemetns, starting at index 1 : [1, 4, 7]

In [66]:
#Dictionaries

#make dictionary with {}
my_dict = {'key1':'value1', 'key2':'value2'}

print(my_dict['key2'])

my_dict['key1'] = 123
my_dict

#substract 123 from value
my_dict['key1'] = my_dict['key1'] - 123
my_dict['key1']

#set the object to equeal itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

d = {}
d['animal'] = 'Dog'
d

value2

{'animal': 'Dog'}

In [73]:
#Set and Booleans
#sets
x = set()

#sets with add method
x.add(1)
x

#add diff element
x.add(2)
x

#add same element
x.add(1)
x

#list of repeats
l = [1,1,2,2,3,4,5,6,1,1]
set(l) #cast list to set

{1, 2, 3, 4, 5, 6}